
<nav class="navbar navbar-expand-md navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qu'est-ce qu'e-BPM ?</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Vous avez dit "Bonnes pratiques" ?</a>
            <a class="dropdown-item" href="#">Pourquoi e-BPM ?</a>
            <a class="dropdown-item" href="#">Comment e-BPM ?</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos modules</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Qu'est-ce que c'est ?</a>
            <a class="dropdown-item" href="#">Comment ça marche ?</a>
            <a class="dropdown-item" href="#">Nos modules</a>
            <a class="dropdown-item" href="#">Offres et tarifs</a>
            <a class="dropdown-item" href="#">Témoignages</a>
            <a class="dropdown-item" href="#">Les modules en préparation</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('/login') }}">Echangeons</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qui sommes-nous ?</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Les créateurs</a>
            <a class="dropdown-item" href="#">Les contributeurs</a>
            <a class="dropdown-item" href="#">L'équipe de développement</a>
            <a class="dropdown-item" href="#">Les partenaires</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('/login') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url('/register') }}"><button type="button" class="btn btn-outline-warning">Connexion</button></a>
        </li>
    </ul>
  </div>
</nav>

<div class="banner">
  <%= image_tag "ebpm-banner.png" %>
</div>


<div class="container">
  <div class="line">
    <div class="row">
      <div class="col-sm-12 col-md-4 background-blue-1 text-white">
        <h1>e-BPM, solution d’e-training pour tous : </h1>
        <h2>développer une maintenance performante.</h2>
        <div class="text-center">
          <p>Voir plus</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 background-blue-2 text-blue">
        <h1>e-BPM, les actus :</h1>
        <p></p>
        <div class="text-center">
          <p>Lire l'article</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 background-blue-3 text-white">
        <h3><i>“Avoir un autre moyen de communication que la sainte parole d’un responsable...”</i></h3>
        <h6>- Romaric DELMARLE, Responsable Maintenance Opérationnelle</h6>
        <div class="text-center">
          <p>Voir tous les témoignages</p>
        </div>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center background-blue-6 text-blue">
        <h1>Thèmes d'e-training</h1>
        </div>

    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-sm-12 col-md-5 offset-md-1 text-center text-orange">
        <p><i>“L'expression « bonnes pratiques » désigne, dans un milieu professionnel donné, un ensemble de comportements qui font consensus [...]”</i></p>
        <p>- Wikipédia</p>
      </div>
      <div class="col-sm-12 col-md-5 offset-md-1">
        <%= image_tag "ebpm-engrenages.png" %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
  <div class="col-sm-12 col-md-6 background-blue-1 text-white">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <p>© e-BPM <%= Date.today.year %></p>
      </li>
      <li class="list-inline-item">
        <p>Mentions légales</p>
      </li>
      <li class="list-inline-item">
        <p>Politique de confidentialité</p>
      </li>
      <li class="list-inline-item">
        <p>CGV</p>
      </li>
    </ul>
  </div>
    <div class="col-sm-12 col-md-6 background-blue-1 text-white">
  <ul class="text-right list-inline">
    <li class="list-inline-item">
      <i class="fab fa-linkedin" style="font-size: 25px; line-height:50px;"></i>
    </li>
    <li class="list-inline-item">
    <%= image_tag "ebpm-logo-small.png" %>
    </li>
  </ul>
</div>
</div>
</div>

