@font-face {
  font-family: "Casual Regular";
  src: url(../fonts/Casual-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Designosaur";
  src: url(../fonts/Designosaur.ttf) format("truetype");
}

h1 {
  font-size: 30px !important;
  font-family: "Designosaur"
}

.background-blue-1 {
  background: #0D4C7D
}

.background-blue-2 {
  background: rgba(109, 146, 176, 0.4)
}

.background-blue-3 {
  background: #6D92B0
}

.background-blue-4 {
  background: #7C9DB8
}

.background-blue-5 {
  background: #46597D
}

.background-blue-6 {
  background: rgba(111, 194, 233, 0.1)
}



.text-white {
  color: white;
}

.text-blue {
  color: #0D4C7D
}

.text-orange {
  color: #FC810E;
}

.col-logo{
  img {
    max-width: 100%;
  }
}

.col-md-4 {
  padding: 20px !important;
  border-top: 30px solid white;
  border-bottom: 30px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  p {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  h1 {
  margin-top: 80px !important;
  }
  h2 {
  font-size: 22px !important;
  }
  h3 {
  font-size: 22px !important;
  margin-top: 80px !important;
  }
  h5 {
  font-size: 22px !important;
  margin-top: 80px !important;
  }
  h6 {
  font-size: 16px !important;
  }
}

.col-md-5 {
  border-bottom: 30px solid white;
  img {
    max-width: 100%;
  }
}

.col-md-12 {
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 30px solid white;
}

.quote-col {
  display: flex;
  align-items: center;
}

