h1 {
  font-size: 18px !important;
  margin-bottom: 30px !important;
}

.background-blue-1 {
  background: #3C7097
}

.background-blue-2 {
  background: #F2F9FD
}

.background-blue-3 {
  background: #C6D3DF
}

.background-blue-4 {
  background: #7C9DB8
}

.background-blue-5 {
  background: #46597D
}



.text-white {
  color: white;
}

.text-blue {
  color: #0D4C7D
}

.col-logo{
  img {
    max-width: 100%;
  }
}

.col-md-4 {
  padding: 20px !important;
}

.col-md-8 {
  img {
    max-width: 100%;
  }
}

.quote-col {
  display: flex;
  align-items: center;
}
