
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  height: 60px;
  li {
    line-height: 60px;
  }
}


.navbar-light .navbar-nav .nav-link {
  color: #FC810E !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0D4C7D !important;
}

.dropdown-item {
  color: #FC810E !important;
}

.dropdown-item:hover {
  color: #0D4C7D !important;
}
